<div class="container">
    <h1 >Car Editing</h1>
        <div class="form-group">
            <label for="id_car">Id</label><br>
            <input type="text" class="form-control" [(ngModel)]="id_car" disabled />
        </div>
        <div class="form-group">
            <label for="model">Model</label><br>
            <input type="text" class="form-control" [(ngModel)]="model" />
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="hp">HP</label><br>
            <input type="number" class="form-control" [(ngModel)]="hp" />
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="marque">Marque</label><br>
            <input type="text" class="form-control" [(ngModel)]="marque" />
        </div>
        <pre></pre>
        <button mat-fab color="accent" [routerLink]="'/lisofcars'" (click)="editCar()">Edit</button>
</div>

