
<div class="d-flex justify-content-center">
 <div class="form">
    <div class="title">Welcome</div>
    <div class="subtitle">Let's add a car</div>
    <div class="input-container ic1">
      <input id="model" class="input" type="text" [(ngModel)]="model"  placeholder=" " />
      <div class="cut"></div>
      <label class="placeholder">Model</label>
    </div>
    <div class="input-container ic2">
      <input id="hp" class="input" type="number" [(ngModel)]="hp" placeholder=" " />
      <div class="cut"></div>
      <label  class="placeholder">HP</label>
    </div>
    <div class="input-container ic2">
      <input id="marque" class="input" type="text" [(ngModel)]="marque" placeholder=" " />
      <div class="cut cut-short"></div>
      <label  class="placeholder">Marque></label>
    </div>
    <button (click)="saveMe()" class="submit">submit</button>
  </div>

</div>